
/*base*/
@import '../base/layout.css';
@import '../base/base.css';
@import '..base/variable.css';

/*3rd party*/
@import"../3rd-party/font-awesome.min.css";
/*components*/
/*CUSTOM STYLE*/
.logo{
width: 50px;
}

.main-title{
    font-size: 60px;
    text-align: center;
}

.main-description{
    text-align: center;
}
footer.container{
    padding-top: 0;
}
.row.socials {
    display: flex;
    gap: 20px;
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 40px;
    border-bottom: 2px solid white;
}
.row.socials a{
    color: white;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.row.socials a:hover{
    color: #03a9f4;
    background-color: white;
  
}