
/*base*/
@import '../base/layout.css';
@import '../base/base.css';
@import '..base/variable.css';

/*3rd party*/
/*components*/
/*CUSTOM STYLE*/
.logo{
width: 50px;
}

.main-title{
    font-size: 60px;
    text-align: center;
}
.main-description{
    text-align: center;

}